:root {

    /* COLORS */
    --color-white: #ffffff;
    --color-light: #ebebf0;
    --color-light-skin: #fbd4c5;
    --color-grey: #888888;
    --color-black: #000000;
    --color-dark: #13131a;
    --color-dark-skin: #3c291a;
    --color-lighter-dark: #1f1f30;
    --color-red2: #ed2939;
    --color-red: #dc143c;
    --color-blue: #0000ff;
    --color-purple: #4400ff;

    /* DIMENSIONS */
    --width-full: 1000px;
    --width-desktop: 700px;
    --width-tablet: 600px;
    --width-mobile: 360px;

    --current-width: var(--width-mobile);

    --header-height: 60px;
    --header-height-hamburger: calc(var(--header-height) + 320px);

    --footer-height: 500px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: #000000;
}

/* HEADER */

header{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 99;
    justify-content: center;
    width: 100%;
    min-height: var(--header-height);
    background-color: #000000;
    background-image: url('../Resources/Background-filler/header&footer-filler.png');
    background-repeat: repeat;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

#header-cont {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: var(--width-mobile);
    height: var(--header-height);
    padding-top: 10px;
}

#header-mobile-main {
    display: inherit;
    flex-flow: row nowrap;
    justify-content: inherit;
    width: var(--width-mobile);

}

#header-mobile-logo{
    display: inherit;
    margin-left: 25px;
}

#header-mobile-logo, #header-mobile-logo img {
    height: calc(var(--header-height) - 20px);
    width: calc(var(--header-height) - 20px);
}

#header-mobile-menu {
    display: inherit;
    margin-right: 25px;
}

#header-mobile-menu button{
    display: inherit;
    cursor: pointer;;
    align-items: center;
    height: calc(var(--header-height) - 20px);
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    background-color: inherit;
    background-image: inherit;
    background-repeat: repeat;
    color: var(--color-dark-skin);
    font-size: large;
}

#header-mobile-menu button:hover {
    background-color: var(--color-dark-skin);
    color: var(--color-light-skin);
}

#header-mobile-hamburger{
    display: inherit;
    flex-flow: column wrap;
    align-items: center;
    width: var(--width-mobile);
    padding: 0 25px;

}
#header-mobile-hamburger a {
    display: none;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: calc(var(--header-height) - 20px);
    margin-top: 10px;
    border: none;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
    background-color: var(--color-light-skin);
    background-image: url('../Resources/Background-filler/header&footer-filler.png');
    background-repeat: repeat;
    color: var(--color-dark-skin);
    text-decoration: none;
}

#header-mobile-hamburger a:hover {
    background-color: var(--color-dark-skin);
    background-image: url('../Resources/Background-filler/header&footer-filler-dark.png');
    color: var(--color-light-skin);
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--color-light-skin);
    background-color: #000000;

}

#full-body {
    display: flex;
    justify-content: center;
    width: 100%;
    /*background: linear-gradient(180deg, var(--color-light-skin), var(--color-dark-skin));*/
    background-image: url('../Resources/Background-filler/body-filler.png');
    background-repeat: repeat;
}

footer {
    display: inherit;
    justify-content: center;
    z-index: 88;
    min-height: var(--footer-height);
    width: 100%;
    background-color: var(--color-light-skin);
    background-color: #000000;
    background-image: url('../Resources/Background-filler/header&footer-filler.png');
    background-repeat: repeat;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

/* index.html */

#body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: var(--width-mobile);
    margin-top: var(--header-height);
    padding-bottom: var(--header-height);
}

.body-cont {
    display: inherit;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
    padding: 25px;
    min-width: 355px;
    min-height: 355px;
    max-width: 550px;
    max-height: 550px;
    margin-top: 20px;
    background-color: var(--color-light-skin);
    background-image: url('../Resources/Background-filler/paper.png');
    background-repeat: repeat;
    contain: content;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
}














.hide {
    display: none;
}